.productList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 127px;
    margin-right: 117px;
  }

  .detailList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 20px;
    margin-right: 117px;
  }
  
  
  